header {
  position: sticky;
  z-index: 1;
  transition: top 0.3s ease-in-out;
  top: 0;
}

.menu {
  display: none;
}

.navMenu {
  display: flex;
  width: 80%;
  padding: 0 5vw;
  justify-content: space-between;
}

.navMenu a {
  display: flex;
  text-decoration: none;
  height: 5vh;
  align-items: center;
  color: white;
  width: 20%;
  justify-content: center;
}

.searchContainer {
  width: 20%;
  display: flex;
}

.searchBar {
  width: 80%;
}

.nav1 {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}

.navMenu a:hover {
  background-color: #414141;
}
